.topbar a {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.topbar a.active {
  color: white;
  font-weight: 500;
  border-bottom-color: white;
}

button {
  cursor: pointer;
  outline: none !important;
}

.backdrop {
  background: rgba(26, 32, 44, 0.9);
}